<div class="d-flex justify-content-between align-items-center">
    <h1>Posts</h1>

    <% if Current.user.twitter_accounts.any? %>
    <%= link_to "Schedule a Post", new_post_path, class: "btn btn-primary" %>
    <% end %>
</div>

<% if Current.user.twitter_accounts.none? %>
    <%= button_to "Connect a Twitter account", "/auth/twitter", method: :post, class: "btn btn-primary" %>
<% end %>

<%= render @posts %>